#head1 {
	background-color: sandybrown;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#head2{
	background-color: darkorange;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar{
	background-color: blanchedalmond;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	float: right
}